@media (max-width: 600px) {
    /* your code should be written here  */
    /* Exercici 5 */

    .container {
        display: block;
    }

    /* Exercici 6*/
    .grid-content {
        display: block;
        padding: 0 50px;
    }
}

@media (max-width: 375px) {
    /* your code should be written here  */

/** Exercici 8 */
body {
background: none;
}

}





